<html>
<head>
  <link
    rel="shortcut icon"
    type="image/png"
    href="https://foursquare.com/favicon.ico">
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
    crossorigin="anonymous">
  <script
    src="https://code.jquery.com/jquery-3.3.1.js"
    integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous">
  </script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
    integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
    crossorigin="anonymous">
  </script>
  <script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
    integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous">
  </script>
</head>
<body>
  <div class="container">
    <div class="justify-content-between flex-wrap flex-md-nowrap pt-3 pb-2 mb-3 border-bottom d-md-flex">
      <div class="col-md-6 p-0" style="border:1px solid black;">
        <h3>You sent ...</h3>
        {% for key, value in params.items() %}
        <p>{{ key }}: {{ value }}</p>
        {% endfor %}
        <h3>Original Venue Details</h3>
        {% for key, value in original_details.items() %}
        <p>{{ key }}: {{ value }}</p>
        {% endfor %}
      </div>
      <div class="col-md-6 p-0" style="border:1px solid black;">
        <h3>After cleaning ...</h3>
        {% for key, value in other_params.items() %}
        <p>{{ key }}: {{ value }}</p>
        {% endfor %}
        <h3>Edited Venue Details</h3>
        {% for key, value in edited_details.items() %}
        <p>{{ key }}: {{ value }}</p>
        {% endfor %}
      </div>
    </div>
  </div>
</body>
</html>
